# NAS 端 PostgreSQL 配置
NAS_HOST=192.168.1.xxx
POSTGRES_USER=kline
POSTGRES_PASSWORD=changeme
POSTGRES_DB=kline_trainer
DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${NAS_HOST}:5433/${POSTGRES_DB}
# FastAPI
API_HOST=0.0.0.0
API_PORT=8000
